@page "/nft"
@using BlazorApp1.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>NFT</h1>

<div class="row">
    <div class="col-2">
        <div class="m-2">
        </div>
    </div>
    <div class="col-8">
        <div class="m-2">
            <div class="" id="">
                <form class="form-inline" @onsubmit="OnSearch">
                    <div>
                        contractaddress:
                        <input class="form-control" size="50" type="text" placeholder="ContractAddress" @bind="ContractAddress" />
                    </div>
                    <div>
                        tokenId:
                        <input class="form-control" size="50" type="text" placeholder="TokenId" @bind="TokenId" />
                    </div>
                    <div>
                        @if (NowSearching)
                        {
                            <button disabled type="submit" class="btn btn-outline-primary">検索</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-outline-primary">検索</button>
                        }
                    </div>
                </form>
            </div>
            @if (NowSearching)
            {
                <div>検索中...</div>
            }
            else
            {
                if (ImageUrl == "")
                {
                    if (SearchClicked)
                    {
                        <div>検索に失敗しました</div>
                    }
                }
                else
                {
                    <img src="@ImageUrl" alt='' title="@ImageUrl" />
                }
            }
        </div>
    </div>
    <div class="col-2">
        <div class="m-2">
        </div>
    </div>
</div>

@code {

    private string ContractAddress { get; set; } = "0x2a46f2ffd99e19a89476e2f62270e0a35bbf0756";
    private string TokenId { get; set; } = "40913";
    private string ImageUrl { get; set; } = "";
    private bool NowSearching { get; set; }
    private bool SearchClicked { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }

    private async Task OnSearch()
    {
        NowSearching = true;
        SearchClicked = true;

        ImageUrl = "";
        var nftImage = await Http.GetFromJsonAsync<NftImage>($"NftImage?contractAddress={ContractAddress}&tokenId={TokenId}") ?? default;
        ImageUrl = nftImage.ImageUrl;

        NowSearching = false;
    }
}
